.poems_button{
    display: block;
    width: 100%;
    padding: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color:#ffffff;
    text-align: left;
    transition: background 0.2s;
    position: relative;
}

.poems_button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
    position:absolute; top:0.5em; right:0.8em;
}

.poems_button--active  + .poems__content {display: block;}
.poems_button--active {background: #c5c5c5;}
.poems_button--active::after {content: '\25b4';}

.poems__content{
    /*overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;*/

    padding: 0 15px;
    background: #eeeeee;
    display: none;
    overflow: auto;
}